@import "../../../scss/mixins";

.container {
  display: grid;
  grid-template-columns: 0.4fr 2.1fr 0.5fr;
  gap: 10px 10px;
  grid-template-areas:
    "Logo Menu Cart";
  @include media("min", "xl") {
    max-width: 80%;
    margin: 0 auto;
  }
}

.Logo {
  grid-area: Logo;
  background-color: cornflowerblue;
}

.Menu {
  grid-area: Menu;
  background-color: antiquewhite;
}

.Cart {
  grid-area: Cart;
  background-color: coral;
}

